<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> <img src="assets/img/gp.png" alt="" srcset="" /></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <h5>PRICE</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">First Name</ion-label>
          <ion-input [(ngModel)]="FirstName"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Last Name</ion-label>
          <ion-input [(ngModel)]="LastName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input [(ngModel)]="Email" inputmode="email"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Mobile</ion-label>
          <ion-input [(ngModel)]="Mobile" inputmode="tel"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="service-dt">
        <ion-item>
          <ion-label position="stacked">Service Date and Time</ion-label>
          <ion-row>
            <ion-col>
              <ion-input
                [(ngModel)]="hh"
                readonly
                placeholder="Hours"
                (click)="showPicker('hh')"
              ></ion-input>
            </ion-col>
            <ion-col>
              <ion-input
                [(ngModel)]="dd"
                readonly
                (click)="showPicker('dd')"
                placeholder="Date"
              >
              </ion-input>
            </ion-col>
            <ion-col>
              <ion-input
                [(ngModel)]="mm"
                readonly
                (click)="showPicker('mm')"
                placeholder="Month"
              >
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr />
  <ion-grid>
    <ion-row>
      <ion-col class="service-dt">
        <ion-item lines="none">
          <ion-label position="stacked">Select Payment Method</ion-label>
          <ion-row>
            <ion-col>
              <ion-button
                size="small"
                [fill]="paymethod == 'cash' ? 'solid' : 'outline' "
                (click)="paymethod='cash'"
                >CASH</ion-button
              >
            </ion-col>
            <ion-col class="ion-align-self-end">
              <ion-button
                size="small"
                [fill]="paymethod == 'card' ? 'solid' : 'outline' "
                (click)="paymethod='card'"
                >CREDIT/DEBIT CARD</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="paymethod == 'card'">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Credit/Debit Card</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Expire Date</ion-label>
          <ion-col class="service-dt expire-dt">
            <ion-row>
              <ion-col>
                <ion-input
                  [(ngModel)]="dd1"
                  readonly
                  (click)="showPicker('dd1')"
                  placeholder="Date"
                >
                </ion-input>
              </ion-col>
              <ion-col>
                <ion-input
                  [(ngModel)]="mm1"
                  readonly
                  (click)="showPicker('mm1')"
                  placeholder="Month"
                >
                </ion-input>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-item>
          <ion-input placeholder="CVV"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-text-center ion-margin-top">
    <ion-button fill="outline"  [routerLink]="['/checkout']">CONTINUE</ion-button>
  </div>
</ion-content>
