<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> <img src="assets/img/gp.png" alt="" srcset="" /></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <h5>SERVICE NUMBER</h5>
      </ion-col> </ion-row
    ><ion-row class="scd">
      <ion-col>
        <ion-item>
          <h5>Service Details</h5>
        </ion-item>
        <div class="ion-margin-start">
          <ion-text>Please present the service number for the staff.</ion-text
          ><br />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h1 class="ion-margin-start">AW XXXX</h1>
</ion-content>
